
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
<<<<<<< HEAD
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
=======
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
>>>>>>> 543160d7bf62a2dfaf62dbbccf4607736baaa71e
